<% provide(:title, "About") %>

<section class="page">
  <h1 class="page-title">About Me</h1>

  <h2>
    <%= gravatar_for("vanessaesanto@gmail.com") %>
  </h2>

  <h2>Early years</h2>

  <p>I was born in Portugal in the year 1989 in a city not very far from the country's capital, Lisbon. I grew up a little village by the sea. I had a happy childhood and I feel privileged to have grown up in such a place, where there was plenty of freedom and space to play and to learn. I keep very fond memories of my hometown, Santa Cruz.</p>

  <h2>Moving out</h2>

  <p>By the time I was 18, I moved to Lisbon to get my Bachelor's Degree in Business Management, which I completed in 2010. I always aspired to become independent so as soon as I finished my degree I entered the labour market.</p>
  <p>I worked as a customer assistant in a bank - CGD, SA - for 6 years, most of that time also studying by night to get 2 more Post Graduates in the fields of Finance and Accounting. Unfortunately, Portugal was undergoing a severe economic crisis at that time, which meant worse working conditions and fewer new job opportunities.</p>

  <h2>Moving abroad</h2>

  <p>2016 was a big year for me. As working conditions deteriorated, I decided to leave my banking life behind to pursue a much more fulfilling path: I decided to learn web development! More than that, I took a leap of faith and decided to quit my reliable, stable job, applied for a VISA to Australia and off I went!</p>
  <p>My year in Australia was very fruitful. I found a new job and am currently working for a small recruiting company. Now, small companies usually require that employees do a little bit of everything, so I started out as an office assistant helping out with processes and accounting but was fortunate enough that my boss was interested in getting a new website! Right there and then I saw the opportunity to start accomplishing my goal of learning web development.</p>

  <h2>Moving around</h2>

  <p>Since then, I've started working remotely and have been travelling across the globe, sharing this adventure with my <a href="https://ferreira.rocks" target="_blank">better half</a>. I was lucky enough to find a place where I'm able to learn and produce results at my own pace while I give back by helping out the company with other administrative tasks. I've already launched the company's new website and I keep on learning and trying harder to grow as a developer. I have a long way to go but I am determined to succeed! </p>
</section>
