<% provide(:title, "About") %>

<section class="page">
  <h1 class="page-title">About Me</h1>

  <h2>
    <%= gravatar_for("vanessaesanto@gmail.com") %>
  </h2>

  <h2>Early years</h2>

  <p>I was born in Portugal in 1989 in Santa Cruz, a little village by the sea, not very far from the country's capital, Lisbon. I had a happy childhood, full of freedom and fun.</p>

  <h2>Moving out</h2>

  <p>At 18, I moved to Lisbon to get my Bachelor's Degree in Business Management, which I completed in 2010. I always aspired to become independent so as soon as I finished my degree I started looking for a job.</p>
  <p>I worked as a customer assistant in a bank - CGD, SA - for 6 years, most of that time also studying by night to get 2 more Post Graduates in the fields of Finance and Accounting.</p>

  <h2>Moving abroad</h2>

  <p>2016 was a big year for me. I realised that I had a lot of other interests that I hadn't yet explored professionally, such as web development and user experience.</p>
  <p>More than that, I wanted to travel and work abroad so I decided to quit my reliable, stable job, got a VISA to Australia and off I went!</p>
  <p>My year in Australia was fruitful. I found a new job and am currently working for a small recruiting company. Now, small companies usually require that employees do a little bit of everything. I started out as an office assistant helping out with processes and accounting but was fortunate enough that my boss was interested in getting a new website! Right there and then I saw the opportunity to start accomplishing my goal of learning web development.</p>

  <h2>Moving around</h2>

  <p>Since 2017 I've been working remotely and travelling across the globe, sharing this adventure with my <a href="https://ferreira.rocks" target="_blank">better half</a>. I've launched the company's new website and am currently working on streamlining its processes, automating as much as I can.</p>
  <p>I keep on learning and challenging myself every day!</p>
</section>
