<% provide(:title, "About") %>

<section class="owner_info">
  <h2>
    <%= gravatar_for("vanessaesanto@gmail.com") %>
  </h2>
</section>

<section>
  <p>Vanessa, aka twikah, was born in 1989 in Portugal and she grew up in a beautiful little village by the sea.</p>
  <p>At the age of 18, Vanessa moved to Lisbon for college. As soon as she completed the Bachelor's Degree in Business Management in 2010, she started working in the banking industry in one the biggest banks in Portugal, Caixa Geral de Depósitos, SA.</p>
  <p>After 6 years in the bank and with 2 more Post Graduates in the fields of Finance, Accounting and Taxation, Vanessa decided to seek a more fulfilling path in her life and decided to learn computer science and web development. While learning she decided to quit her job, got a VISA to Australia and off she went!</p>
  <p>She is now working and travelling across Australia, learning to code and seeking a web development career.</p>
  <p>Please click here to download a copy of Vanessa's CV and feel free to contact her for any queries.</p>
</section>
