<% provide(:title, "About") %>

<section class="page">
  <h1 class="page-title">About Me</h1>

  <h2>
    <%= gravatar_for("vanessaesanto@gmail.com") %>
  </h2>

  <br>
  <p>
    Born and raised in a little village not very far from Lisbon, I had a
    happy childhood, full of freedom and fun.
  </p>

  <p>
    At 18, I moved to Lisbon to get my Bachelor's Degree in Business Management,
    which I completed in 2010. I started working right away as a customer
    assistant in a bank - CGD, SA. Most of that time I was also studying by
    night to get 2 more Post Graduates in Finance and Accounting.
  </p>

  <p>
    In 2016, I decided to pursue other passions of mine: living abroad and
    learning how to code. I got a VISA to Australia and off I went! My year in
    Australia was golden. I found a new job in a small medical recruiting
    company where I converted from being an office assistant to a junior
    developer when I volunteered to do a new website for the company. From this
    time and up until the end of 2018, I travelled and worked remotely across
    the globe.
  </p>

  <p>
    Since 2017, when I started the journey of coding on my own, I kept on
    exploring lots of online tutorials and courses. In 2020, I took a step
    further and decided to attend an intensive 9-week web dev bootcamp at
    Le Wagon Lisbon. This was a way of learning Ruby more in depth and
    strengthening my technical skills.
  </p>

  <p>
    After the bootcamp I also became a certified OutSystems Web Developer and
    am currently working as an OutSystems Reactive Developer.
  </p>

  <p>
    In 2021 I'm focusing on becoming a better and more experienced developer.
    I took another OutSystems certification - Associated Reactive Developer -
    and I'm already thinking on the next one!
  </p>
</section>
