<% provide(:title, "Blog") %>

<section class="page">
  <h1 class="page-title">Blog</h1>

  <div class="col-two blog-cols">
    <div class="col col-aside blog-list-wrapper">
      <h4>Posts List</h4>
      <ul class="blog-title-list">
          <li>
            <a href="#post-4">Digital Garage</a>
            <span>Posted: April 6, 2017</span>
          </li>
          <li>
            <a href="#post-3">Habits, Routines, Rituals</a>
            <span>Posted: February 16, 2017</span>
          </li>
          <li>
            <a href="#post-2">Remote! Remote! Remote!</a>
            <span>Posted: February 14, 2017</span>
          </li>
          <li>
            <a href="#post-1">Hello World!</a>
            <span>Posted: January 16, 2017</span>
          </li>
      </ul>
    </div>

    <div class="col col-content blog-posts-wrapper">
      <article class="post blog-posts" id="post-4">
        <header class="post-header">
          <h2>Digital Garage</h2>
          <p>
            Posted on
            <time datetime="2017-04-06 19:00">April 6, 2017</time>
          </p>
        </header>
        <section class="post-content">
          <p>I discovered <a href="https://digitalgarage-au.withgoogle.com/">Google's Digital Garage</a> while I was still in Portugal and immediately thought it would be a great opportunity for me to learn Digital Marketing with the best, for free and even get a certificate in the end!</p>
          <p>I finally finished it and, of course, took my notes. I wrote them on <a href="qwilr.com">Qwilr</a>, a platform I had just discovered that turns your documents into web pages with very attractive templates.</p>
          <p>For now, <a href="https://vanessaesanto.qwilr.com/zQK0J4rATMeu">here</a> are my notes on Digital Marketing.</p>
        </section>
      </article>

      <article class="post blog-posts" id="post-3">
        <header class="post-header">
          <h2>Habits, Routines, Rituals</h2>
          <p>
            Posted on
            <time datetime="2017-02-16 19:00">February 16</time>
          </p>
        </header>
        <section class="post-content">
          <p>Here is an excerpt from <a href="https://zapier.com/blog/daily-routines/?utm_campaign=The%20Morning%20and%20Evening%20Routines%20That%20Will%20Set%20Up%20Each%20Day%20for%20Success&utm_medium=email&utm_source=blogblogposts">this</a> Zapier article. I find it curious that I never took the time to think about the differences between these words.</p>
          <blockquote cite="https://zapier.com/blog/daily-routines/?utm_campaign=The%20Morning%20and%20Evening%20Routines%20That%20Will%20Set%20Up%20Each%20Day%20for%20Success&utm_medium=email&utm_source=blogblogposts">
            <p> Habits vs. Routines vs. Rituals: Wondering what the difference is between habits, routines, and rituals? Habits are things that we do automatically–things like checking your email first thing in the morning or putting your keys in a specific spot when you get home. Routines are usually a collection of habits or actions you do on a regular basis to bring order to your day–checking your email, then writing your day's to-do list, then checking your team's project management tool as a way of getting the day started. Rituals are like routines. The main difference is <a href="http://www.theemotionmachine.com/routines-vs-rituals/">the attitude behind the actions:</a> Taking a walk everyday at lunch could be considered a routine if you think of it as something you need to do for your productivity. Or it could be a ritual if you think of it as a way to break out of the mundane and enjoy nature. While we're focusing on habits and routines here, most routines could be turned into rituals with a change of perspective.</p>
          </blockquote>
        </section>
      </article>

      <article class="post blog-posts" id="post-2">
        <header class="post-header">
          <h2>Remote! Remote! Remote!</h2>
          <p>
            Posted on
            <time datetime="2017-02-14 19:00">February 14</time>
          </p>
        </header>
        <section class="post-content">
          <p>My plan is to go remote. I'd love to find a team of awesome people that develop a great product and work remotely in customer support, all the while mastering programming skills.</p>
          <p>I don't know if this dream will ever come true but to make it happen I need to go ahead and start doing something. This blog is my starting point for that. I'm also reading about what it takes to be an exceptional remote worker and about the hazards of the game. When looking for insights on these matters I found Jason Lengstorft and his site <a href="http://lengstorf.com">lengstorf.com</a>. He managed to turn from unhealthy workaholic to achieving his dream of happily working while permanently travelling the world.</p>
          <p>I went and explored his <a href="http://lengstorf.com">site</a> and found some guides on how to go remote and how to perform well in a remote environment. Jason generously posts lots of useful information on the subject but, for now, I will mention only three of his guides and I'll add a summary of his ideas. Let me be clear: his ideas! I'm just an apprentice 😌.</p>
          <p>The guides I've read are:</p>
          <ul class="post-ul fa-ul">
            <li><i class="fa-li fa fa-hand-o-right"></i><a href="https://lengstorf.com/about/">3 Blindingly Obvious (and Therefore Painfully Underappreciated) Daily Actions That Will Change Your Life - Starting Today</a></li>
            <li><i class="fa-li fa fa-hand-o-right"></i><a href="https://lengstorf.com/remote-work-course/">How to Go Remote A 6-STEP CHECKLIST</a></li>
            <li><i class="fa-li fa fa-hand-o-right"></i><a href="https://lengstorf.com/productivity-habits/">5 Habits of the Unfuckwithably Productive</a></li>
          </ul>
          <h4>My shrine of remembrance 🤓:</h4>
          <h4>On the 3 daily actions to improve myself as a person and in my work:</h4>
          <ul class="post-ul fa-ul">
            <li><i class="fa-li fa fa-bookmark"></i>Make lists!
              <p>
                Writing things down will turn your tasks easier to prioritize and it reduces the stress of having many things to do. Jason recommends a day-to-day list with few tasks to accomplish daily and a master list for your projects in the long run.
              </p>
            </li>
            <li><i class="fa-li fa fa-bookmark"></i>Sleep.
              <p>
                It helps if you move away from all your devices 1 hour prior to bedtime so you'll have time to decompress.            
              </p>
            </li>
            <li><i class="fa-li fa fa-bookmark"></i>Put your phone down.
              <p>
                Disconnect! People look like robots, plugged on their phones at all times. I witness this every day on my advertising part-time. At home we never check our phones during meals, it improves the time we spend together.
              </p>
            </li>
          </ul>
          <h4>Now, regarding the fabulous 6-STEP CHECKLIST on how to go remote:</h4>
          <ul class="post-ul fa-ul">
            <li><i class="fa-li fa fa-bookmark"></i>
              Step 1: Communication as a default
              <p>Do constant updates on your daily list achievements and on your projects. Also, share what you're planning on until the next update. This way everybody is on the same page and it's easier to spot potential problems. Communication builds reliability.</p>
            </li>
            <li><i class="fa-li fa fa-bookmark"></i>
              Step 2: Only make promises you can keep
              <p>Again, you have to show you're reliable. If you don't share the same space as the team then it's harder for them to get to know you, so learning to commit to goals according to your limits will make people trust you.</p>
            </li>
            <li><i class="fa-li fa fa-bookmark"></i>
              Step 3: Measure by results, not hours
              <p>Remote work implies autonomy and control over your schedule. Define measurable results for projects and performance reviews that are based on what you produce, now how much time you spend.</p>
            </li>
            <li><i class="fa-li fa fa-bookmark"></i>
              Step 4: Master the Art of being productive
              <p>Efficiency is really important in remote work. High productivity means bargaining power: as Jason says, this way you'll be up to set terms and boundaries more easily.</p>
            </li>
            <li><i class="fa-li fa fa-bookmark"></i>
              Step 5: Fight the urge to slack
              <p>Planning crystal clear on what is there to do and how to accomplish repels procrastination. Making lists is a key on this step.</p>
            </li>
            <li><i class="fa-li fa fa-bookmark"></i>
              Step 6: Make yourself noticed
              <p>Making your presence known may be more difficult in a remote position. You do it by excel on your communication skills, by  being efficient and reliable. This way your team will know what they can count on and you will have a say. Jason mentioned the halo effect (where people see your positive attributes as proof of other positive attributes) and the Pygmalion effect (where you represent yourself as capable, which causes people to expect you to be capable, which causes you to become capable).</p>
            </li>
          </ul>
          <h4>Last but not least, the list of 5 habits to master productivity:</h4>
          <ul class="post-ul fa-ul">
            <li><i class="fa-li fa fa-bookmark"></i>
              Habit 1: gain willpower
              <p>Again, making lists every day, make them clear and feasible. Start your day with the meaningful and bigger tasks and you'll feel great that you accomplished something big.</p>
            </li>
            <li><i class="fa-li fa fa-bookmark"></i>
              Habit 2: Use triggers to improve your routine
              <p>Do not waste your time between tasks, use them in your favour. Create habit triggers that will cause you to be more productive. For example, today I deleted a game from my phone because it was messing with my commute time (not only commute time!). I like to use my commute time to read articles or listen to a podcast, which are self-improving tasks. The last few days there was no room for any of that, only for Tap Tap Fish. I couldn't help myself so I went drastic on it and deleted the game. The goal is to not think on what you have to do but it coming to you naturally instead.</p>
            </li>
            <li><i class="fa-li fa fa-bookmark"></i>
              Habit 3: Distance yourself from work at times
              <p>You need to take breaks from your work. If you're always wired to it you'll lose excitement. Some time off lessens your stress levels, freshens your mind and enhances productivity.</p>
            </li>
            <li><i class="fa-li fa fa-bookmark"></i>
              Habit 4: Positive pressure and efficiency
              <p>Productivity can increase by setting little goals. You can use a timer to work in timed blocks; I've heard about "The Pomodoro Technique" as well. During these blocks of time we won't have distractions - no email, no chats, no social media. If you set the time and define one mission for that block, you'll be much more productive because you'll want to have finished that task faster.</p>
            </li>
            <li><i class="fa-li fa fa-bookmark"></i>
              Habit 5: Stay focused
              <p>You can use tools like silence, airplane or do-not-disturb modes when working. Getting noise cancelling headphones is a plus and Jason also recommends <a href="https://www.noisli.com/">Noisli</a> when he's on work blocks. Tools like <a href="https://www.rescuetime.com/">RescueTime</a> monitors the time you spend on your computer and assesses your productivity.</p>
            </li>
          </ul>
          <p>Disclaimer: My summary is only my view on what's most important for me from Jason's guides. You should still read them all and visit his site. These are just my notes so I can rely on them whenever I want.</p>
        </section>
      </article>

      <article class="post blog-posts" id="post-1">
        <header class="post-header">
          <h2>Hello World!</h2>
          <p>
            Posted on
            <time datetime="2017-01-16 19:00">January 16</time>
          </p>
        </header>
        <section class="post-content">
          <p>Well, Hello World!</p>
          <p>My name is Vanessa, I'm currently changing my life in some considerable ways:</p>
          <ul class="post-ul fa-ul">
            <li><i class="fa-li fa fa-hand-o-right"></i>I left my job because I couldn't keep up with the place's culture;</li>
            <li><i class="fa-li fa fa-hand-o-right"></i>As a result of that I applied for a 1-year VISA to Australia and it's granted, so I'll live abroad for the first time in my life;</li>
            <li><i class="fa-li fa fa-hand-o-right"></i>I'm learning how to become a tech girl because I want to work remotely in the future and my opinion is that it will be easier if I'm familiar with programming and stuff;</li>
            <li><i class="fa-li fa fa-hand-o-right"></i>I'm considering minimalism as a lifestyle to pursue.</li>
          </ul>
          <p>So, while I wait unemployed to travel to Melbourne, I'm using my time to improve my tech skills. I tried to build a WordPress theme as a way of starting my portfolio but I realised that I don't know enough HTML, PHP, CSS and JS to get it done. Then, I decided to make my own website first, as an easier way of also starting my portfolio.</p>
          <p>Right now I'm considering developing my site in Ruby on Rails because I stumbled on railsgirls.com. The purpose of this blog is to log my journey and hopefully register my progress. It is also for getting people to know me, of course :)</p>
          <p>Today I'm leaving this piece of inspiration here, so I won't forget that all I need...<a href="https://signalvnoise.com/posts/2538-the-first-step-is-to-start"> is to start!</a></p>
        </section>
      </article>
    </div>
  </div>
</section>





