<% provide(:title, "Contact") %>

<section class="page">
  <h1 class="page-title">Reach out, say Hi!</h1>

  <div class="col-two contact-cols">
    <div class="col col-content col-form">
      <h2>Drop me a message:</h2>
      <%= render 'main/form' %>
    </div>

    <div class="col col-aside col-social">
      <h2>Find me at:</h2>
      <ul class="contact-social-list">
        <li>
          <%= mail_to "vanessaesanto@gmail.com" do %>
            <i class="fas fa-envelope social-link"></i> vanessaesanto@gmail.com
          <% end %>
        </li>
        <li>
          <%= link_to("https://twitter.com/define_vanessa", target: "_blank") do %>
            <i class="fab fa-twitter social-link"></i> @define_vanessa
          <% end %>
        </li>
        <li>
          <%= link_to("https://www.linkedin.com/in/vanessaes", target: "_blank") do %>
            <i class="fab fa-linkedin-in social-link"></i> linkedin.com/in/vanessaes
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</section>
