<% provide(:title, "Home") %>

<h1>Hi there!</h1>

<p>I'm glad you're here.</p>
<p>I'm currently working really hard to become a web developer, while travelling around the world.</p>
<p>Scroll down to know more about me.</p>