<% provide(:title, "Home") %>

<div class="home-callout">
  <h1 class="callout-title">
    Hi there! My name is <strong>Vanessa</strong> and this my website.
  </h1>
  <div class="callout-copy">
    <p>
      It's great that you came to visit me in this little corner of the world
      wide web.
    </p>
    <p>
      I'm working to become a <span><em>web developer</em></span
      >, currently based in Lisbon.
    </p>
    <p>
      Take your time to look around, get to know me a little bit better and
      check out what I'm doing. If you feel like it, say <%= link_to "hello",
      contact_path %>!
    </p>
  </div>
</div>
