<% provide(:title, "Home") %>

<div class="home-callout">
  <h1 class="callout-title">
    Hi there! My name is <strong>Vanessa</strong> and this my website.
  </h1>
  <div class="callout-copy">
    <p>
      It's great that you you're here :) I'm a junior full stack developer
      currently working with OutSystems. My interests range from
      <span><em>web development</em></span> to
      <span><em>quality assurance</em></span> and
      <span><em> business analysis</em></span>.
      I've been travelling a lot and am now based in Lisbon.
    </p>
    <p>
      Take your time to look around, get to know me a little bit better and
      check out what I'm doing. If you feel like it, say <%= link_to "hello",
      contact_path %>!
    </p>
    <p>
      Oh, and here's my <%= link_to "resumé", main_download_cv_url %>.
    </p>
  </div>
</div>
