<h4>This was my first adventure in web development! I figured I would need a portfolio and so I started by building my own website. My intention was to present myself to the world, have a blogging space and also get all my projects in one place.</h4>

<div class="project-gallery-wrapper">
  <div class="gallery-item">
    <div class="gallery-item-image">
      <img src="<%= asset_path("project-1-gallery-1.png") %>" alt="Website wireframes with my notes on them">   
    </div>
    <div class="gallery-item-copy">
      <p>I don't have any previous experience in development and my knowledge comes mainly from the <a href="http://www.railstutorial.org/"> Ruby on Rails Tutorial</a>, as well as the <a href="https://www.learnenough.com/"> Learn Enough Society</a> tutorials. I didn't quite know where to begin so I also read several articles on how to build a website.</p>
      <p>I started by making the wireframes with Balsamiq for all desktop and mobile screens. Wireframes helped decide what to include and how to display content. This was a great step because later on while writing the code, I was able to refer back to the wireframes to check what I had already developed and what was still missing.</p>
    </div>
  </div>
  <div class="gallery-item">
    <div class="gallery-item-image">
      <img src="<%= asset_path("project-1-gallery-2.png") %>" alt="Me writing code!">   
    </div>
    <div class="gallery-item-copy">
      <p>I struggled a lot with the website's structure. I wanted to create a website as light and clean as possible with the tools I learned, which are mainly Ruby on Rails.</p>
      <p>For that reason, I decided I didn't want to store data in databases so I wouldn't need any models. This is why my blog is written in the main blog view and each of my projects will have its own view file. The will to not store data also led me to discover that I can have a contact form without a model by using the <code>include ActiveModel::Model</code> functionalities along with some other modifications.</p>
    </div>
  </div>
  <div class="gallery-item">
    <div class="gallery-item-image">
      <img src="<%= asset_path("project-1-gallery-3.png") %>" alt="Styling options for the website">    
    </div>
    <div class="gallery-item-copy">
      <p>My next challenge was CSS. I learned the positioning concepts of floating and also about flexbox. I saw how important it is to write CSS that is as modular as possible so you can easily apply the same style in different parts of the website. I tried to use sizing that allows for the website to be as responsive and adaptable to smaller screens as possible. I read about the mobile-first approach but I decided to go desktop-first and adapt to mobile afterwards.</p>
      <p>Choosing the logo and colour palette also took me some time. I wanted a light website and some pastel colours but couldn't pick a favourite set! As for the logo, I drew 2 versions. The first was cute but seemed too childish so I went with the minimal one.</p>
    </div>
  </div>

  <h4><em>Et voilá!</em> Here it is, live!</h4>

</div>
