<h4>This was the most complex development project I was involved in and I'm gonna be honest: I had no idea how to go about it!</h4>

<div class="project-gallery-wrapper">
  <div class="gallery-item">
    <div class="gallery-item-image">
      <img src="<%= asset_path("project-3-gallery-1.png") %>" alt="MLS Admin Platform">   
    </div>
    <div class="gallery-item-copy">
      <p>As I worked for MLS I felt that some processes could improve. I had a particular interest in automating the most time-consuming and error-prone processes. Those revolved bookings and invoices. My idea was to gather all bookings and then to have easy access to their details, generating confirmations and invoices from them.</p>
      <p>My first thought was where to lodge this booking platform. The most logical option to me was to keep using the Rails Admin gem, already mounted on the new MLS website.</p>
      <p>Next came the data models... And that's when things got tough.</p>
    </div>
  </div>
  <div class="gallery-item">
    <div class="gallery-item-image">
      <img src="<%= asset_path("project-3-gallery-2.jpg") %>" alt="Data models are a headache">   
    </div>
    <div class="gallery-item-copy">
      <p>I thought I knew how to structure the information I wanted to include in the platform but I didn't. There are many ways of associating data between models. I struggled to make the different models work together, efficiently.</p>
      <p>I practiced generating and destroying models. I went through tons of migrations and rollbacks. I added and removed columns and indexes. Databases are a painful subject! I changed my dev database to Postgres because I was developing in SQLite and results would differ on staging every time I committed a new change. I also created a seed file to set base content for some models. After all, the platform became more solid.</p>
    </div>
  </div>
  <div class="gallery-item">
    <div class="gallery-item-image">
      <img src="<%= asset_path("project-3-gallery-3.png") %>" alt="Invoice icon">
    </div>
    <div class="gallery-item-copy">
      <p>With the data model sorted, the platform needed some custom actions: to generate documents based on bookings. I used another gem called Prawn to generate pdfs. Writing the code for each pdf document was fun! When I thought that the worst part was gone... Then I noticed all the edge cases. There were too many rules to account for to generate these documents well. This part of code contains the most complex and abstract logic of the platform.</p>
      <p>I wouldn't be able to get to the end of it without the help of a senior developer. Thank you, <a href="http://ferreira.rocks">dear boyfriend</a>!</p>
    </div>
  </div>
  <div class="gallery-item">
    <div class="gallery-item-image">
      <img src="<%= asset_path("project-3-gallery-4.jpg") %>" alt="Celebrating job well done!">    
    </div>
    <div class="gallery-item-copy">
      <p>With the hardest part of the project completed, I decided to add an extra cloning action to allow to replicate bookings with a click.</p>
      <p>I wrote documentation for new users to learn to operate the platform. I also created shortcuts in the platform for easy access to the documentation.</p>
      <p>After I deployed the code I used the gem rails_admin_import to import the necessary data for each model to start working in production.</p>
      <p>When the team started using the platform they requested minor adjustments here and there but I was very happy to see that it all was working smoothly!</p>
    </div>
  </div>

  <h4>I worked for 5 months to get these new features ready, all the while having to fulfil other administrative tasks. I hope the time invested in building this structure will make the team's lives easier and help reduce processing errors!</h4>

</div>
