<% provide(:title, @project[:name]) %>

<div class="row">
  <section class="project_info">
    <h2>
      <%= @project[:name] %>
    </h2>
  </section>
  <section class="project_content">
    <%= render "projects/#{@project[:id]}" %>
  </section>
</div>
