<% provide(:title, @project[:name]) %>

<section class="page">
  <section class="project-header">
    <h1 class="page-title">
      <%= @project[:name] %>
    </h1>
    <h2>
      <%= @project[:description] %>
    </h2>
  </section>
  <section class="project-content">
    <%= render "projects/#{@project[:id]}" %>
  </section>
</section>
